@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/dji_fly_20240712_061708_299_1720779495558_photo_optimized.JPG');
    background-size: cover;  /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    background-color:  #e1e6e6;;
    min-height: 100vh;  /* Asegura que el body tenga al menos la altura de la pantalla */
    width: 100%;
}


.menu_logo {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}



.menu {
    background-color: #dfb967;
    color: #fff;
    height: 70px;
    position: relative;
    z-index: 10; /* Asegúrate de que sea mayor que el del slideshow */
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu_links {
    height: 100%;
    transition: transform 0.5s;
    display: flex;
}

.menu_item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

/* .menu_link:hover {
    background-color: #506183;
} */

.menu_item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_link {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu_arrow {
    transform: var(--transform);
    transition: transform 0.3s;
    display: block;
    margin-left: 3px;
}

.menu_nesting {
    list-style: none;
    transition: clip-path 0.3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #324277b7;
    min-width: 150px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.menu_link--inside {
    padding: 30px 100px 30px 20px;
}

.menu_link--inside:hover {
    background-color: #a6a6e0af;
}

.menu_hamburger {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img {
    display: block;
    width: 36px;
}

/* mobil media version */
@media (max-width: 800px) {
    .menu_hamburger {
        display: flex;
    }

    .menu_item {
        --clip: 0;
        overflow: hidden;
    }

    .menu_item--active {
        --transform: rotate(0);
        --background: #506183;
    }

    .menu_item--show {
        background-color: var(--background);
    }

    .menu_links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: black;
        overflow: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu_links--show {
        transform: unset;
        width: 100%;
    }

    .menu_link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu_arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu_nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height 0.3s;
    }

    .menu_link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}


/* slideshow menu */

.slideshow {
    position: relative;
    width: 100vw;
    margin-top: 0; /* o ajustá según si el nav es fijo */
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    width: 90%;
    overflow: hidden;
    border-radius: 10px; /* Borde redondeado para el slideshow */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    display: none; /* Las imágenes estarán ocultas inicialmente */
}

/* Asegura que todas las imágenes mantengan su proporción */
.slide img {
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    height: 100%; /* La imagen ocupa el 100% de la altura */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor sin deformarse */
    border-radius: 10px; /* Borde redondeado para las imágenes */
}

/* Fade con suavidad y ligero movimiento */
.fade {
    animation-name: fade;
    animation-duration: 2s;  /* antes era 1.2s */
    animation-timing-function: ease-in-out; /* transiciones más naturales */
}


@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* @keyframes fadeText {
    0% {
        opacity: 0;
        transform: translate(-50%, 10px);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
